{% extends 'shops/base.html' %}
{% block content%}
<div class="flex-container">
	<h1>We are a company indeed</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis parturient montes. Morbi tincidunt augue interdum velit euismod in. Non quam lacus suspendisse faucibus interdum. Lorem ipsum dolor sit amet. Amet risus nullam eget felis eget nunc lobortis mattis. Aenean et tortor at risus viverra adipiscing at in. Tristique senectus et netus et malesuada. Dis parturient montes nascetur ridiculus mus mauris vitae. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Pharetra convallis posuere morbi leo. Lectus arcu bibendum at varius. Et netus et malesuada fames ac turpis. Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer.

Lacinia quis vel eros donec ac. Ut sem viverra aliquet eget sit amet. Aliquam vestibulum morbi blandit cursus risus at ultrices mi. Maecenas sed enim ut sem viverra aliquet eget. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Ultricies tristique nulla aliquet enim. Massa massa ultricies mi quis hendrerit dolor. Risus quis varius quam quisque id diam vel. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Laoreet id donec ultrices tincidunt arcu non sodales. Non enim praesent elementum facilisis leo vel.

</p>
</div>
{% endblock %}